{{ define "status-tag" }}
  <strong class="govuk-tag govuk-tag--{{ statusColour .Status }}">
    {{ if and (eq .Status "Pending") (.Worked) }}
      Worked, {{ .Status }}
    {{ else }}
      {{ .Status }}
    {{ end }}
  </strong>
{{ end }}
