$govuk-page-width: 1220px;
$moj-page-width: 1220px;
$govuk-assets-path: "/lpa/dashboard/assets/";

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "filters";

.app-body-class {
  overflow-x: hidden;
}

.app-name-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.app-background-blue {
  background: $govuk-brand-colour;
}

.app-color-white {
  color: white !important;
}

.app-full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.moj-multi-select__checkbox.govuk-checkboxes--small.govuk-checkboxes__item {
  min-height: 20px;

  .govuk-checkboxes__input {
    height: 30px;
    width: 30px;
    left: -2px;
    top: -3px;
  }

  .govuk-checkboxes__label::before {
    top: 0;
  }

  .govuk-checkboxes__input:checked + .govuk-checkboxes__label::after {
    top: 8px;
  }
}

.app-float-left {
  float: left;
}
